/* CSS Document */

/* Online font Selector */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

html {
    height: 100vh;
}

/* Desingning the main body of page */
body {
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
    margin: auto;
    background-color:lightslategrey;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

/* Design for the calcultor body */
.calculator-container {
    background-color: rgba(66, 173, 98, 0.7);
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

/* Design for Data in Calculator */
.data-for-calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px 10px 50px;
}

/* Design for inputs */
.data-for-calculator input {
    margin: 8px;
    display: flex;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: 3px solid #00080c;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.31);
}

/* Design for pre-written data */
.data-for-calculator p{
    color: rgb(2, 20, 1);
    margin-bottom: 1px;
    font-weight: 800;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}


/* Design for the Heading Title */
.title h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 0px;
    font-weight: 800;
    color: #ecae35;
}

/* Margin for Heading */
h1 {
    margin: 0 10px 10px 10px;
}

/* Designing the Button property */
.button-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Designing the Calculate Button */
#calculate-button{
    margin: 0 15px 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    background-color: #fabc2b;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

/* Designing the Result Data */
.calculate-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
}

/* Designing the pre-written elements in result */
.calculate-result p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

/* Designing the Structure of result */
.result {
    display: flex;
    flex-direction: row;
}

.result > p:first-child {
    margin-right: 10px;
}

.result > p:last-child {
    font-size: 25px;
}

